*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62,5%;
  --ff-text: 1rem;
  --ff-nav-desktop: 1.6rem;
  --ff-button-primary: 2.0rem;
  --bg-text: #C4C4CC;
  --bg-header:#fff;
  --bg-nav:#fff;
}

body{
  width: 100%;
  background-image: url("../img/lua.png");
}

.container{
  display:grid;
  grid-columns: 1fr;
  color: var(--bg-header);
  font-size:var(--ff-nav-desktop);
}

@media (min-width: 80.0rem) {
  .container{
    width: 100%;
    display:grid;
    grid-template-columns: 1r;
    margin: 0 auto;
  }

  .nav{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px !important;
    color: green !important;
  }

  .desktop{
    width: 100%;
    padding:10.75rem;
  }

  .header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10.75rem auto 1.5rem;
  }

  .container-desktop{
    width:100%;
    display: flex;
    flex-direction: column;
  }

  .header-sub{
    margin: 9.3rem 0 0 2rem !important;
    justify-content:left;
  }
  
  .paragraph{
    width:100%;
    max-width:40.5rem;
  }

  button:hover{
    color:#d2fdfd;
  }
}

.nav{
  margin: 4.0rem 2.0rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-size: var(--ff-text);
  line-height:var(--ff-text);
  font-family: 'Roboto', sans-serif;
}

.nav a{
  color: var(--bg-nav)
}

.nav a:hover{
  color: var(--bg-text)
}


a{
  align-items: center;
  text-decoration: none;
}

.header-sub{
  margin: 5.0rem 2.5rem;
  display:flex;
  flex-wrap: wrap;
  text-align: center;  
}

.paragraph{
  color: var(--bg-text);
  font-size: var(--ff-text);
  margin: 2.5rem 2.0rem;
  text-align: left;
}

.button{
  display:flex;
  justify-content:center;
  text-decoration: none;
  margin-top: 1rem;
}

button {
  border-radius: 2px solid #ffff;
  background: transparent;
  text-decoration: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size:var(--ff-text);
  cursor: pointer;
}